.move {
    display: flex;
    flex-direction: column;
    margin-top: 50px;   
    width: 100%;
}

.horiz {
    width: 80%;
    /* width: 200%; */
    text-align: center;
    display: flex;
    flex-direction: row;
    /* padding: 5px; */
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
    justify-content: space-between;
    height: 50%;
}

.sep {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cent {
    text-align: center;
}

.btn {
    width: 15%;
}

.field {
    width: 15%;
}

.sel {
    width: 3%;
    height: 2%;
}

.lab {
    margin-right: 0;
}

.form {
    width: 4%;
}