html, body {
    height: 100%;
}

.move {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    padding:5px
}

.move_box {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    height: 100%;
}

.horiz {
    width: 80%;
    /* width: 200%; */
    text-align: center;
    display: flex;
    flex-direction: row;
    /* padding: 5px; */
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
    justify-content: space-between;
}

.horiz-2 {
    width: 80%;
    /* width: 200%; */
    text-align: center;
    display: flex;
    flex-direction: row;
    /* padding: 5px; */
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
}

.sep-bot {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}

.sep {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cent {
    text-align: center;
}

.btn {
    width: 15%;
}

.field {
    width: 15%;
}

.sel {
    width: 3%;
    height: 2%;
}

.lab {
    margin-right: 0;
}

.form {
    width: 4%;
}