.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.bg-dark {
    background-color: #343a40!important;
}

.container {
    position: relative;
    /* display: -ms-flexbox; */
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem 1rem;    
    box-sizing: border-box;
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}